body {
    background-color: lightblue;
    color: maroon;
    font-family: arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right, red,orange,yellow, green,LightBlue, blue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
}
header:hover {
    text-decoration: none;
    color: white;
    transition: 300ms;
}

header:active{
    font-size: 20pt;
}
footer {
    background: linear-gradient(to right, red,orange,yellow, green,LightBlue, blue, purple);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: right;
}
footer:hover{
    color: white;
    transition: 300ms;
}

footer:active{
    font-size: 20pt;
}   
a{
    text-decoration: none;
    color: green;
    transition: 2s;
}
a:visited{
    color: white;
    background-color: green;

}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    text-shadow: 2.5px 1.5px 2px gray;
    transition: 0.3s;
}

a:active {
    color: pink;
    background-color: green;
}
